/.DS_Store
/.vscode
/1022tpcchat.py
/__pycache__
/bank.py
/deep.py
/deep1.py
/distances.py
/distances_maria.py
/extensions.py
/extensionschatgbt.py
/folder
/hello.py
/ines_FADS_assignment_01.pdf
/itunes.py
/professor.py
/professor_3.py
/professor_blend.py
/say.py
/sayings.py
/teste.py
/testeee.py